<div class="container">
    <div class="page-title">
        <h3>Dashboard</h3>
    </div>
    <div class="box box-primary">
        <div class="box-body">
            <table width="100%" class="table table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Device-ID</th>
                        <th>IP Address</th>
                        <th>Location</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Philip Chaney</td>
                        <td>philip.chaney@gmail.com</td>
                        <td>Manager</td>
                        <td>Admin</td>
                        <td>Active</td>
                        <td class="text-end">
                            <a href="" class="btn btn-outline-success btn-rounded"><i class="fas fa-phone"></i></a>
                            <a href="" class="btn btn-outline-primary btn-rounded"><i class="fas fa-sms"></i></a>
                            <a href="" class="btn btn-outline-secondary btn-rounded"><i class="fas fa-camera"></i></a>
                            <a href="" class="btn btn-outline-dark btn-rounded"><i class="fas fa-terminal"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Doris Greene</td>
                        <td>ms.greene@outlook.com</td>
                        <td>Writer</td>
                        <td>Staff</td>
                        <td>Active</td>
                        <td class="text-end">
                            <a href="" class="btn btn-outline-success btn-rounded"><i class="fas fa-phone"></i></a>
                            <a href="" class="btn btn-outline-primary btn-rounded"><i class="fas fa-sms"></i></a>
                            <a href="" class="btn btn-outline-secondary btn-rounded"><i class="fas fa-camera"></i></a>
                            <a href="" class="btn btn-outline-dark btn-rounded"><i class="fas fa-terminal"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Mason Porter</td>
                        <td>mason_porter@gmail.com</td>
                        <td>Contributor</td>
                        <td>Staff</td>
                        <td>Active</td>
                        <td class="text-end">
                            <a href="" class="btn btn-outline-success btn-rounded"><i class="fas fa-phone"></i></a>
                            <a href="" class="btn btn-outline-primary btn-rounded"><i class="fas fa-sms"></i></a>
                            <a href="" class="btn btn-outline-secondary btn-rounded"><i class="fas fa-camera"></i></a>
                            <a href="" class="btn btn-outline-dark btn-rounded"><i class="fas fa-terminal"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Minerva Hooper</td>
                        <td>minerva.hooper@gmail.com</td>
                        <td>Administrator</td>
                        <td>Admin</td>
                        <td>Disabled</td>
                        <td class="text-end">
                            <a href="" class="btn btn-outline-success btn-rounded"><i class="fas fa-phone"></i></a>
                            <a href="" class="btn btn-outline-primary btn-rounded"><i class="fas fa-sms"></i></a>
                            <a href="" class="btn btn-outline-secondary btn-rounded"><i class="fas fa-camera"></i></a>
                            <a href="" class="btn btn-outline-dark btn-rounded"><i class="fas fa-terminal"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>