<div class="container">
    <div class="page-title">
        <h3>Dashboard</h3>
    </div>
    <div class="box box-primary" style="overflow: auto;">
        <div class="box-body">
            <table width="100%" height="300vh" class="table table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Device-ID</th>
                        <th>IP Address</th>
                        <th>Location</th>
                        <th>IMEI</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Philip Chaney</td>
                        <td>192.168.12.1</td>
                        <td>Manager</td>
                        <td>Manager</td>
                        <td>Admin</td>
                        <td>Active</td>
                        <td class="text-end">
                            <button class="btn btn-outline-danger btn-rounded"><i class="fas fa-wifi"></i></button>
                            <button class="btn btn-outline-success btn-rounded"><i class="fas fa-phone"></i></button>
                            <button class="btn btn-outline-primary btn-rounded"><i class="fas fa-sms"></i></button>
                            <button class="btn btn-outline-secondary btn-rounded"><i class="fas fa-camera"></i></button>
                            <button class="btn btn-outline-dark btn-rounded"><i class="fas fa-terminal"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>Doris Greene</td>
                        <td>24.2.3.12</td>
                        <td>Writer</td>
                        <td>Manager</td>
                        <td>Staff</td>
                        <td>Active</td>
                        <td class="text-end">
                            <button class="btn btn-outline-danger btn-rounded"><i class="fas fa-wifi"></i></button>
                            <button class="btn btn-outline-success btn-rounded"><i class="fas fa-phone"></i></button>
                            <button class="btn btn-outline-primary btn-rounded"><i class="fas fa-sms"></i></button>
                            <button class="btn btn-outline-secondary btn-rounded"><i class="fas fa-camera"></i></button>
                            <button class="btn btn-outline-dark btn-rounded"><i class="fas fa-terminal"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>Mason Porter</td>
                        <td>9.2.121.32</td>
                        <td>Contributor</td>
                        <td>Manager</td>
                        <td>Staff</td>
                        <td>Active</td>
                        <td class="text-end">
                            <button class="btn btn-outline-danger btn-rounded"><i class="fas fa-wifi"></i></button>
                            <button class="btn btn-outline-success btn-rounded"><i class="fas fa-phone"></i></button>
                            <button class="btn btn-outline-primary btn-rounded"><i class="fas fa-sms"></i></button>
                            <button class="btn btn-outline-secondary btn-rounded"><i class="fas fa-camera"></i></button>
                            <button class="btn btn-outline-dark btn-rounded"><i class="fas fa-terminal"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>Minerva Hooper</td>
                        <td>21.32.12.4</td>
                        <td>Administrator</td>
                        <td>Manager</td>
                        <td>Admin</td>
                        <td>Disabled</td>
                        <td class="text-end">
                            <button class="btn btn-outline-danger btn-rounded"><i class="fas fa-wifi"></i></button>
                            <button class="btn btn-outline-success btn-rounded"><i class="fas fa-phone"></i></button>
                            <button class="btn btn-outline-primary btn-rounded"><i class="fas fa-sms"></i></button>
                            <button class="btn btn-outline-secondary btn-rounded"><i class="fas fa-camera"></i></button>
                            <button class="btn btn-outline-dark btn-rounded"><i class="fas fa-terminal"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>

          
        </div>
    </div>
</div>

<div style="overflow:auto;width:100%;white-space: nowrap;" class="container dark-box">
    <div class="box-body" style="font-family: 'Courier Prime', monospace;">
        <div class="row log-body">
            <div class="col-2 text-light">
              10:09:44 AM
            </div>
            <div class="col-10 text-light">
                Getting camera list Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis, voluptatibus? ...
            </div>
        </div>
        <div class="row log-body">
            <div class="col-2 text-light">
              10:09:44 AM
            </div>
            <div class="col-10 text-danger">
                Lorem ipsum dolor sit amet, consectetur adipisicing.
            </div>
        </div>
        <div class="row log-body">
            <div class="col-2 text-light">
              10:09:44 AM
            </div>
            <div class="col-10 text-light">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, voluptatem?
            </div>
        </div>
        <div class="row">
            <div class="col-2 text-light">
                10:09:44 AM
            </div>
            <div class="col-10 text-success">
                Getting camera list Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis, voluptatibus? ...
            </div>
        </div>
        <div class="row">
            <div class="col-2 text-light">
                10:09:44 AM
            </div>
            <div class="col-10 text-danger">
                Getting camera list Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis, voluptatibus? ...
            </div>
        </div>
        <div class="row">
            <div class="col-2 text-light">
                10:09:44 AM
            </div>
            <div class="col-10 text-danger">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo voluptatem facere, libero sit impedit ducimus tempora non?
            </div>
        </div>
    </div>
</div>