<div class="container">
    <div class="page-title">
        <h3>Dashboard</h3>
    </div>
    <div class="box box-primary" style="height: 400px;overflow-y: auto;">
        <div class="box-body">
            <table width="100%" class="table table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Client ID</th>
                        <th>Device-ID</th>
                        <th>IP Address</th>
                        <th>IMEI</th>
                        <th>OS Version</th>
                        <th>Network</th>
                        <th>Location</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody> 
                    <tr>
                        <td>Philip Chaney</td>
                        <td>192.168.12.1</td>
                        <td>Manager</td>
                        <td>Manager</td>
                        <td>8.0</td>
                        <td>Manager</td>
                        <td>Manager</td>
                        <td class="text-end">
                            <button id="btn-connection-status" class="btn btn-outline-danger btn-rounded"><i class="fas fa-wifi"></i></button>
                            <button id="btn-phone" class="btn btn-outline-success btn-rounded"><i class="fas fa-phone"></i></button>
                            <button id="btn-sms" class="btn btn-outline-primary btn-rounded"><i class="fas fa-sms"></i></button>
                            <button id="btn-camera" class="btn btn-outline-secondary btn-rounded"><i class="fas fa-camera"></i></button>
                            <button id="btn-mic" class="btn btn-outline-info btn-rounded"><i class="fas fa-microphone"></i></button>
                            <button id="btn-terminal" class="btn btn-outline-dark btn-rounded"><i class="fas fa-terminal"></i></button>
                        </td>
                    </tr>           
                </tbody>
            </table>

          
        </div>
    </div>
</div>

<div style="overflow:auto;width:100%;white-space: nowrap;" class="container dark-box">
    <div class="box-body" style="font-family: 'Courier Prime', monospace;">
        <div class="row log-body">
            <div class="col-2 text-light">
              10:09:44 AM
            </div>
            <div class="col-10 text-light">
                Getting camera list Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis, voluptatibus? ...
            </div>
        </div>
        <div class="row log-body">
            <div class="col-2 text-light">
              10:09:44 AM
            </div>
            <div class="col-10 text-danger">
                Lorem ipsum dolor sit amet, consectetur adipisicing.
            </div>
        </div>
        
        <div class="row">
            <div class="col-2 text-light">
                10:09:44 AM
            </div>
            <div class="col-10 text-success">
                Getting camera list Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis, voluptatibus? ...
            </div>
        </div>
        <div class="row">
            <div class="col-2 text-light">
                10:09:44 AM
            </div>
            <div class="col-10 text-danger">
                Getting camera list Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis, voluptatibus? ...
            </div>
        </div>
        <div class="row">
            <div class="col-2 text-light">
                10:09:44 AM
            </div>
            <div class="col-10 text-danger">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo voluptatem facere, libero sit impedit ducimus tempora non?
            </div>
        </div>
    </div>
</div>

<!-- Test Connection -->
<div class="modal fade" id="testConnectionModal" tabindex="-1" role="dialog" aria-labelledby="testConnectionModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="test-connection-modal-title" id="testConnectionModalLabel">Test Connection</h5>
          <button type="button" id="test-connection-modal-dismiss" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="modal-save">Save changes</button>
        </div>
      </div>
    </div>
</div>

<!-- Phone -->
<div class="modal fade" id="phoneModal" tabindex="-1" role="dialog" aria-labelledby="phoneModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="phone-modal-title" id="phoneModalLabel">Phone</h5>
          <button type="button" id="phone-modal-dismiss" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="modal-save">Save changes</button>
        </div>
      </div>
    </div>
</div>

<!-- SMS -->
<div class="modal fade" id="smsModal" tabindex="-1" role="dialog" aria-labelledby="smsModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="sms-modal-title" id="smsModalLabel">SMS</h5>
          <button type="button" id="sms-modal-dismiss" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="modal-save">Save changes</button>
        </div>
      </div>
    </div>
</div>

<!-- Camera -->
<div class="modal fade" id="cameraModal" tabindex="-1" role="dialog" aria-labelledby="cameraModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="camera-modal-title" id="cameraModalLabel">Camera</h5>
          <button type="button" id="camera-modal-dismiss" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="modal-save">Save changes</button>
        </div>
      </div>
    </div>
</div>

<!-- Mic -->
<div class="modal fade" id="micModal" tabindex="-1" role="dialog" aria-labelledby="micModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="mic-modal-title" id="micModalLabel">Microphone</h5>
          <button type="button" id="mic-modal-dismiss" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="modal-save">Save changes</button>
        </div>
      </div>
    </div>
</div>

<!-- Terminal -->
<div class="modal fade" id="terminalModal" tabindex="-1" role="dialog" aria-labelledby="terminalModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="terminal-modal-title" id="terminalModalLabel">Terminal</h5>
          <button type="button" id="terminal-modal-dismiss" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="modal-save">Save changes</button>
        </div>
      </div>
    </div>
</div>

<script>
    $(document).ready(function (){
        $("#btn-connection-status").click(function(){
            $("#testConnectionModal").modal({
                backdrop: 'static',
                keyboard: false
            });
            $("#testConnectionModal").modal('show');
        });
        $("#test-connection-modal-dismiss").click(function(){
            $("#testConnectionModal").modal('hide');
        });

        $("#btn-phone").click(function(){
            $("#phoneModal").modal({
                backdrop: 'static',
                keyboard: false
            });
            $("#phoneModal").modal('show');
        });
        $("#phone-modal-dismiss").click(function(){
            $("#phoneModal").modal('hide');
        });

        $("#btn-sms").click(function(){
            $("#smsModal").modal({
                backdrop: 'static',
                keyboard: false
            });
            $("#smsModal").modal('show');
        });
        $("#sms-modal-dismiss").click(function(){
            $("#smsModal").modal('hide');
        });

        $("#btn-camera").click(function(){
            $("#cameraModal").modal({
                backdrop: 'static',
                keyboard: false
            });
            $("#cameraModal").modal('show');
        });
        $("#camera-modal-dismiss").click(function(){
            $("#cameraModal").modal('hide');
        });

        $("#btn-mic").click(function(){
            $("#micModal").modal({
                backdrop: 'static',
                keyboard: false
            });
            $("#micModal").modal('show');
        });
        $("#mic-modal-dismiss").click(function(){
            $("#micModal").modal('hide');
        });

        $("#btn-terminal").click(function(){
            $("#terminalModal").modal({
                backdrop: 'static',
                keyboard: false
            });
            $("#terminalModal").modal('show');
        });
        $("#terminal-modal-dismiss").click(function(){
            $("#terminalModal").modal('hide');
        });
    });
</script>