<div class="container">
    <div class="row">
        <div class="col-md-12 page-header">
            <h2 class="page-title">Dashboard</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="content">
                    <div class="head">
                        <h5 class="mb-0">Victims</h5>
                    </div>
                    <div class="canvas-wrapper">
                        <table class="table table-striped">
                            <thead class="success">
                                <tr>
                                    <th>Page Name</th>
                                    <th class="text-end">Visitors</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>/about.html <a href="#"><i class="fas fa-link blue"></i></a></td>
                                    <td class="text-end">8,340</td>
                                </tr>
                                <tr>
                                    <td>/special-promo.html <a href="#"><i class="fas fa-link blue"></i></a></td>
                                    <td class="text-end">7,280</td>
                                </tr>
                                <tr>
                                    <td>/products.html <a href="#"><i class="fas fa-link blue"></i></a></td>
                                    <td class="text-end">6,210</td>
                                </tr>
                                <tr>
                                    <td>/documentation.html <a href="#"><i class="fas fa-link blue"></i></a></td>
                                    <td class="text-end">5,176</td>
                                </tr>
                                <tr>
                                    <td>/customer-support.html <a href="#"><i class="fas fa-link blue"></i></a></td>
                                    <td class="text-end">4,276</td>
                                </tr>
                                <tr>
                                    <td>/index.html <a href="#"><i class="fas fa-link blue"></i></a></td>
                                    <td class="text-end">3,176</td>
                                </tr>
                                <tr>
                                    <td>/products-pricing.html <a href="#"><i class="fas fa-link blue"></i></a></td>
                                    <td class="text-end">2,176</td>
                                </tr>
                                <tr>
                                    <td>/product-features.html <a href="#"><i class="fas fa-link blue"></i></a></td>
                                    <td class="text-end">1,886</td>
                                </tr>
                                <tr>
                                    <td>/contact-us.html <a href="#"><i class="fas fa-link blue"></i></a></td>
                                    <td class="text-end">1,509</td>
                                </tr>
                                <tr>
                                    <td>/terms-and-condition.html <a href="#"><i class="fas fa-link blue"></i></a></td>
                                    <td class="text-end">1,100</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>