<div class="container">
    <div class="row">
        <div class="col-md-12 page-header">
            <h2 class="page-title">Victim Files</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="content">
                    <div class="canvas-wrapper">
                        <table class="table table-striped">
                            <thead class="success">
                                <tr>
                                    <th>Directory/Files</th>
                                    <th class="text-end">
                                        <button id="btn-left-arrow" class="btn btn-outline-secondary btn-rounded"><i class="fas fa-arrow-left"></i></button>
                                        <button id="btn-right-arrow" class="btn btn-outline-secondary btn-rounded"><i class="fas fa-arrow-right"></i></button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="files-class">
                                <tr>
                                    <td>/about.html <a href="#"><i class="fas fa-link blue"></i></a></td>
                                    <td class="text-end">8,340</td>
                                </tr>                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='assets/js/files.js') }}"></script>