<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard | Dashboard</title>
    <link href="{{ url_for('static', filename='assets/vendor/fontawesome/css/fontawesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/fontawesome/css/solid.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/fontawesome/css/brands.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/master.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/flagiconcss/css/flag-icon.min.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet"> 
</head>


<body>
    <div class="wrapper">
        <nav id="sidebar" class="active">
            <ul class="list-unstyled components text-secondary">
                <li>
                    <a id="nav-dashboard"><i class="fas fa-home"></i> Dashboard</a>
                </li>
                <li>
                    <a id="nav-files"><i class="fas fa-file"></i> User Files</a>
                </li>
                <li>
                    <a id="nav-settings"><i class="fas fa-cog"></i>Settings</a>
                </li>
            </ul>
        </nav>
        <div id="body" class="active">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-white bg-white">
                <button type="button" id="sidebarCollapse" class="btn btn-light">
                    <i class="fas fa-bars"></i><span></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ms-auto">
                     
                        <li class="nav-item dropdown">
                            <div class="nav-dropdown">
                                <a href="#" id="nav2" class="nav-item nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-user"></i> <span>Admin</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end nav-link-menu">
                                    <ul class="nav-list">
                                        <li><a href="/logout" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- End of Navbar -->
            <div class="content">
                
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='assets/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/socketio.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/chartsjs/chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/dashboard-charts.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/script.js') }}"></script>
    
    <script>
        $(document).ready(function (){
            var socket = io("http://localhost:5001");
            socket.on('response', function() {
                console.log("got response back");
            });
            $.ajax({
               url: '/dashboard',
               type: 'get',
               success: function(data){
                   $('.content').html(data);
                   $('.content').append(data.htmlresponse);
               }
            });

            $('#nav-dashboard').click(function (){
                $.ajax({
                    url: '/dashboard',
                    type: 'get',
                    success: function(data){
                        $('.content').html(data);
                        $('.content').append(data.htmlresponse);
                    }
                });
                // socket.emit("pong", "message");
            });
            $('#nav-files').click(function (){
                $.ajax({
                    url: '/files',
                    type: 'get',
                    success: function(data){
                        $('.content').html(data);
                        $('.content').append(data.htmlresponse);
                    }
                });
            });
            $('#nav-settings').click(function (){
                $.ajax({
                    url: '/settings',
                    type: 'get',
                    success: function(data){
                        $('.content').html(data);
                        $('.content').append(data.htmlresponse);
                    }
                });
            });
            
        });
    </script>
</body>

</html>