[Unit]
Description=Moukthar - Android Remote Administration Tool
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/Moukthar
Environment="PATH=/var/www/Moukthar/venv/bin"
ExecStart=/var/www/Moukthar/venv/bin/gunicorn __init__:app --worker-class eventlet -w 1 --bind 0.0.0.0:5001 --reload

[Install]
WantedBy=multi user.target