[Unit]
Description=WebSocket Server
After=network.target

[Service]
ExecStart=/usr/bin/env php App.php
WorkingDirectory=/var/www/html/web-socket
Restart=always

[Install]
WantedBy=default.target
