[Unit]
Description=WebSocket Server
After=network.target

[Service]
ExecStart=/usr/bin/env php App.php
WorkingDirectory=/path/to/your/server/directory
Restart=always

[Install]
WantedBy=default.target
